@media (max-width: 1085px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5ECF4;
    color: rgb(26, 26, 26);
}

.text-center {
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.page-header {
    border-bottom: 1px solid grey;
}

.page-header > h1 {
    font-weight: bold;
    font-size: 3em;
}

.about {
    font-size: 2.4em;
}

.center {
    float: none;
    margin: 0 auto;
}

.content {
    text-align: justify;
    margin-top: 5%;
    font-size: 1.143em;
}

.hello-section {
    height: 90vh;
    position: relative;
}

.scroll-down {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.scroll-down-button:link {
    color: rgb(0, 0, 0);
}

.scroll-down-button:visited {
    color: rgb(0, 0, 0);
}

.scroll-down-button:hover {
    color: rgb(38, 38, 38);
}