.hello-container {
    height: 100vh;
    background-image: url('bg.jpg');
    background-position: center;
    background-attachment: fixed;
}

.material-icons {
    color: black;
}

/*nav ul a {
    color: black;
}*/