extend base
block vars
    - var title = "Pomoc żwynościowa"
block body
    .container-fluid
        .row
            .col-lg-2
                ul.nav.nav-pills.nav-stacked
                    li.active(role='presentation')
                        a(href='#2014' data-toggle="tab" aria-controls="home" role='tab') 2014
                    li(role='presentation')
                        a(href='#2015' data-toggle="tab" aria-controls="home" role='tab') 2015
                    li(role='presentation')
                        a(href='#2016' data-toggle="tab" aria-controls="home" role='tab') 2016
            .col-lg-10
                .tab-content.shadow-tab
                    .tab-pane.fade.in.active#2014(role='tabpanel') elo
                    .tab-pane.fade.in#2015(role='tabpanel') elo2
                    .tab-pane.fade.in#2016(role='tabpanel') elo3