extend base
block vars
    - var title = "Pomoc żwynościowa"
block body
    .container-fluid
        .row
            .col-lg-2
                ul.nav.nav-pills.nav-stacked
                    li.active(role='presentation')
                        a(href='#2014' data-toggle="tab" aria-controls="home" role='tab') 2014
                    li(role='presentation')
                        a(href='#2015' data-toggle="tab" aria-controls="home" role='tab') 2015
                    li(role='presentation')
                        a(href='#2016' data-toggle="tab" aria-controls="home" role='tab') 2016
            .col-lg-10
                .tab-content
                    .tab-pane.fade.in.active#2014(role='tabpanel') elo
                    .tab-pane.fade.in#2015(role='tabpanel') elo2
                    .tab-pane.fade.in#2016(role='tabpanel')
                        .header-img
                            img(src='static/img/test.png')
                        .tab-content
                            | Zachodniopomorski Zarząd Okręgowy  Polskiego Komitetu Pomocy Społecznej w Szczecinie od sierpnia 2016 roku realizuje kolejną edycję: 
                            .header-ac
                                h4 Programu Operacyjnego Pomoc Żywnościowa 2014 – 2020 współfinansowanego ze środków Unii Europejskiej w ramach Europejskiego Funduszu Pomocy Najbardziej Potrzebującym.
                            | Celem ogólnym w ramach PO PŻ Podprogramu 2016  jest zapewnienie najuboższym mieszkańcom Polski pomocy żywnościowej oraz uczestnictwa w działaniach w ramach środków towarzyszących w okresie sierpień 2016 r. – czerwiec  2017 r.
                            ol
                                li Grupa osób najbardziej potrzebujących, do których będzie skierowana pomoc żywnościowa:
                                    ul
                                        li bezdomni
                                        li niepełnosprawni
                                        li migranci, osoby obcego pochodzenia, mniejszości narodowe (w tym społeczności marginalizowane, takie jak Romowie)
                                        li pozostałe osoby odbiorców spełniające kryteria określone w pkt 11.
                                li Kryteria kwalifikowalności osób do statusu osoby najbardziej potrzebującej
                                    p Pomoc żywnościową w ramach PO PŻ mogą być objęte osoby i rodziny znajdujące się w trudnej sytuacji życiowej, spełniające kryteria określone w art. 7 ustawy o pomocy społecznej i których dochód nie przekracza 150% kryterium dochodowego uprawniającego do skorzystania z pomocy społecznej, tj 951 PLN dla osoby samotnie gospodarującej i 771 PLN dla osoby w rodzinie.
                                li Sposób kwalifikowania osób do uczestnictwa w PO PŻ
                                    p OPR i OPL  uczestniczące w PO PŻ współpracują z OPS w gminach w zakresie doboru odbiorców lub weryfikacji kwalifikowalności odbiorców końcowych.
                                    ul
                                        li OPS-y będą wydawać osobom skierowania do otrzymania pomocy żywnościowej lub przekazywać organizacjom listy osób zakwalifikowanych do pomocy z PO PŻ, pod warunkiem uzyskania zgody tych osób.
                                        li OPR-OPL mogą w swoich siedzibach przyjmować oświadczenia od osób kwalifikujących się do przyznania pomocy żywnościowej korzystając z zał. Nr 5 część B. Oświadczenia wraz z wypełnionym skierowaniem zał. Nr 5 część A przekazywane są do właściwego ośrodka pomocy społecznej, który potwierdza kwalifikowalność do przyznania pomocy.  
                                        li OPR-OPL mogą samodzielnie kwalifikować wyłącznie osoby bezdomne do udziału w PO PŻ na podstawie podpisanego przez osobę oświadczenia, stanowiącego załącznik nr 6 do wytycznych. 
                                li FEAD 2014-2020 PODPROGRAM 2016 – LIMIT ROCZNY  PRODUKTÓW NA OSOBĘ W OKRESIE OD SIERPNIA 2016 DO CZERWCA 2017
                                    table.table
                                        caption POMOC  ŻYWNOŚCIOWA  W  FORMIE  PACZEK  ŻYWNOŚCIOWYCH  POWINNA BYĆ  WYDAWANA  OSOBOM  NAJBARDZIEJ  POTRZEBUJĄCYM RÓWNOMIERNIE  W  TRAKCIE  CAŁEGO  OKRESU  DYSTRYBUCJI  W PODPROGRAMIE  2016
                                        thead
                                            tr
                                                th #
                                                th Asortyment
                                                th Waga opakowania
                                                th Ilość sztuk dla 1 osoby przez 11 m-cy
                                                th Waga dla 1 osoby przez 11 m-cy
                                        tbody
                                            tr
                                                td 1
                                                td Makaron jajeczny
                                            tr
                                                td 2
                                                td Ryż biały
                                            tr
                                                td 3
                                                td Herbatniki
                                            tr
                                                td 4
                                                td Mleko UHT
                                            tr
                                                td 5
                                                td Ser podpuszczkowy dojrzewający
                                            tr
                                                td 6
                                                td Groszek z marchewką
                                            tr
                                                td 7
                                                td Fasola biała
                                            tr
                                                td 8
                                                td Koncentrat pomidorowy
                                            tr
                                                td 9
                                                td Powidła śliwkowe
                                            tr
                                                td 10
                                                td Gulasz wieprzowy z warzywami
                                            tr
                                                td 11
                                                td Filet z makreli w oleju
                                            tr
                                                td 12
                                                td Szynka drobiowa
                                            tr
                                                td 13
                                                td Cukier biały
                                            tr
                                                td 14
                                                td Olej rzepakowy


