extend base
block vars
    - var title = 'Dodatkowe działania'
block body
    .container
        .row
            .col-sm-1
              img(src='/static/img/home/logo.png' alt='PKPS Logo' class='logo-apel')
            .col-sm-4
                h4 Polski Komitet Pomocy Społecznej
                h5 STOWARZYSZENIE CHARYTATYWNE
                h5 ZARZĄD OKRĘGOWY
            .col-sm-3
                h5 ul. Jagiellońska 18/2 70-362 Szczecin 
                h5 e-mail: pkps2@tlen.pl
                h5 tel/fax 91 433-45-04
                h5 witryna internetowa: 
                h5.text-right http://pkps-szczecin.pl
            .col-sm-4
                h5 NIP  851-01-09-361
                h5 REGON  007023760-00480
                h5 NR KONTA  
                h5.text-right PL 23 1240 3813 1111 0000 4375 5868
                h5.text-right SWIFT PEKAO SA - PKOPPLPW
        .row
            .col-sm-6
                p.text-left Szczecin 30.05.2017r.
                p.bolder  Polski Komitet Pomocy Społecznej Zarząd Okręgowy w Szczecinie w dniu  03 czerwca 2017 w godz. od 11.00 do 14.00 na stadionie przy ul. Witkiewicza w Szczecinie organizuje Festyn Rodzinny z okazji Międzynarodowego Dnia Dziecka  z wieloma atrakcjami, konkursami, grami i zabawami.
                p Uczestnikami festynu będą dzieci z rodzin korzystających z pomocy MOPR oraz z żywności z  Programu Operacyjnego Pomoc Żywnościowa 2014-2020 Podprogram 2016 wydawanej przez Polski Komitet Pomocy Społecznej Zarząd Okręgowy w Szczecinie.
                | Podczas festynu zostaną przeprowadzone Działania Towarzyszące do Programu Operacyjnego Pomoc Żywnościowa 2014-2020 Podprogram 2016. 
                | Będą to warsztaty  dietetyczne i dotyczące zdrowego odżywiania pt. „Piramida Zdrowego żywienia dla dzieci” oraz warsztaty kulinarne dla różnych grup pokoleniowych pt. „Kanapka szkolna dla dziecka jako źródło energii” połączone z   degustacją kanapek, które zostaną przygotowane przez pracowników Baru Mlecznego „KOGEL – MOGEL” między innymi z artykułów spożywczych z PO PŻ  2014-2020 Podprogram 2016.
                p Chcielibyśmy, aby w tym dniu wszystkie dzieci  były szczęśliwe, aby mogły spędzić ten czas w radosnej rodzinnej atmosferze przy wspólnych zabawach, grach.
                  | Festyn odbędzie się przy współudziale wolontariuszy i darczyńców między innymi:
                ul
                    li Gmina Miasto Szczecin
                    li AKADEMIA POGOŃ Szczecin
                    li Carrefour
                    li Auchan Polska, Spółka z o.o
                    li US Wydział Kultury Fizycznej i Promocji Zdrowia
                    li Zachodniopomorski Oddział Okręgowy PCK,
                    li Lasy Państwowe Kliniska
                    li MOPR Szczecin
                    li Miejska Państwowa Straż Pożarna w Szczecinie
                    li Piekarnia, Cukiernia BONA Elżbieta Bona
                p Nie trzeba wydawać fortuny, nie trzeba kupować najdroższych zabawek. Trzeba włożyć trochę wysiłku w przygotowania, by ten dzień był naprawdę niezwykły, wspaniały i niezapomniany.
            .col-sm-6
                img.img-responsive(src='/static/img/poster.png' alt='Plakat festynu')