extend base
block vars
    - var title = 'Dodatkowe działania'
block body
    .container
        .row
            .col-lg-12
                h2 W dniu  21 grudnia 2016 r. o godz. 12:00 w Domu Kultury „Słowianin” w Szczecinie odbędzie się Uroczysta Kolacja Wigilijna dla ponad 400 osób bezdomnych, starszych, samotnych.
                h3 Zapisy na Kolację odbędą się
                    strong  09 grudnia 2016 roku
                ul
                    li
                        h4 w Punkcie Pomocy PKPS Szczecin ul. Robotnicza 9U/2 w godz. od 10,00 do 14,00.
                    li
                        h4 w Zachodniopomorski Oddziale Okręgowym Polskiego Czerwonego Krzyża Szczecin Al. Wojska Polskiego 63
                    li
                        h4 w Domu Kultury „SŁOWIANIN” Szczecin ul. Korzeniowskiego 2

                h4
                    strong Liczba miejsc ograniczona.
        .row.invite-r
            .col-lg-6
                img.invite(src='static/zaproszenie.jpg' alt='Zaproszenie na Wigilie')
            .col-lg-6
                img.invite(src='static/zaproszenie2.jpg' alt='Drugie zaproszenie na wigilie')