extend base
block vars
    - var title = 'Dodatkowe działania'
block body
    .container
        .row
            .col-lg-3
                img(src='static/img/wigilia.png' alt='Wigilia')
            .col-lg-9
                h2 9 KWIETNIA 2017r. (niedziela palmowa) o godz. 12:00 w Domu Kultury „Słowianin” w Szczecinie odbędzie się Uroczyste Śniadanie Wielkanocne dla ponad 400 osób bezdomnych, starszych, samotnych.
                h3 Zapisy 28 marca 2017 roku w:
                ul
                    li
                        h4 Punkcie Pomocy PKPS Szczecin ul. Robotnicza 9U/2 w godz. od 10:00 do 14:00.
                    li
                        h4 Zachodniopomorskim Oddziale Okręgowym Polskiego Czerwonego Krzyża Szczecin Al. Wojska Polskiego 63
                    li
                        h4 Domu Kultury „SŁOWIANIN” Szczecin ul. Korzeniowskiego 2

                h4
                    strong Liczba miejsc ograniczona.
                h4 
                    a(href="static/files/PROŚBA_DO_SPONSORÓW.pdf" download) Prośba do sponsorów