extend base
block vars
    - var title = 'Dodatkowe działania'
block body
    .container
        .row
            .col-lg-3
                img.img-responsive(src='static/img/wigilia.png' alt='Wigilia')
            .col-lg-9
                h2 9 KWIETNIA 2017r. (niedziela palmowa) o godz. 12:00 w Domu Kultury „Słowianin” w Szczecinie odbędzie się Uroczyste Śniadanie Wielkanocne dla ponad 400 osób bezdomnych, starszych, samotnych.
                h3 Zapisy 28 marca 2017 roku w:
                ul
                    li
                        h4 Punkcie Pomocy PKPS Szczecin ul. Robotnicza 9U/2 w godz. od 10:00 do 14:00.
                    li
                        h4 Zachodniopomorskim Oddziale Okręgowym Polskiego Czerwonego Krzyża Szczecin Al. Wojska Polskiego 63
                    li
                        h4 Domu Kultury „SŁOWIANIN” Szczecin ul. Korzeniowskiego 2

                h4
                    strong Liczba miejsc ograniczona.
        .row(style='margin-top: 30px;')
            .col-lg-12
                h1.text-center Prośba do sponsorów
                p.text-right Szczecin, 08.03.2017 r.
                h4.text-center 
                    em Święta Wielkanocne  to dla wszystkich bardzo ważne święta - rodzinne i radosne. Spędzamy je z naszymi rodzinami, przy suto zastawionym stole, pełnym wykwintnych potraw i smakołyków...  Ale czy rzeczywiście wszyscy?
                p.text-center Zapewne wielu z nas przez chwilę o tym pomyślało przed zbliżającymi się świętami i w miarę własnych możliwości pomogło słabszym i potrzebującym wsparcia.
                p.sponsors-request-p Pragniemy poinformować o wspólnej inicjatywie UROCZYSTYM ŚNIADANIU WIELKANOCNYM przygotowanym już po raz szósty  przez zawiązaną koalicję organizacji pozarządowych: Polskiego Komitetu Pomocy Społecznej Zarządu Okręgowego w Szczecinie, Zachodniopomorskiego Oddziału Okręgowego Polskiego  Czerwonego Krzyża w Szczecinie, Caritasu Archidiecezji Szczecińsko – Kamieńskiej oraz Domu Kultury „SŁOWIANIN”.
                p.sponsors-request-p  W uroczystym  ŚNIADANIU WIELKANOCNYM , które odbędzie się  09 kwietnia 2017r. (niedziela palmowa) o godz. 12-tej w Domu Kultury „Słowianin” uczestniczyć będzie 420 osób bezdomnych, samotnych, starszych przebywających na terenie Gminy Miasto Szczecin – stolicy województwa zachodniopomorskiego. 
                p
                    strong W związku z powyższym zwracamy się do Państwa o wsparcie  naszych działań poprzez nieodpłatne przekazanie produktów takich jak: 
                    ol
                        li marchew, pietruszka, por, seler, groszek, ogórki kiszone, cebula, czosnek,  kapusta kiszona, nać pietruszki, 
                        li majonez, jajka, musztardę, koncentrat żurku lub barszczu  białego,
                        li boczek, kiełbasa, kości do bigosu  
                p.sponsors-request-p.sponsors-mt Z przekazanych przez Państwa produktów przyrządzimy w naszym   Barze „KOGEL – MOGEL”  żurek – barszcz biały, sałatkę jarzynową, bigos . Przygotowane przez naszych pracowników potrawy  zagoszczą  na stole podczas  Uroczystego Śniadania Wielkanocnego.
                p.sponsors-request-p.sponsors-mt Ponadto każdy podopieczny uczestniczący w Śniadaniu  w prezencie otrzyma paczkę żywnościową, przydatną w tym wyjątkowym okresie.  Z pewnością będzie to spotkanie wyjątkowe, które pozwoli w godny sposób przeżyć ten szczególny  okres  Świąt Wielkiej Nocy osobom, bezdomnym,  ubogim i samotnym. 
                p.sponsors-request-p.sponsors-mt Dzięki partnerom, takim jak Państwo – wrażliwym na potrzeby drugiego człowieka  - wychodzimy naprzeciw oczekiwaniom społecznym, za co w imieniu własnym, współorganizatorów oraz osób, do których trafia owa pomoc serdecznie dziękujemy. 
                    | Z myślą o tych właśnie ludziach zwracamy się do Państwa z gorąca prośbą o wsparcie  i pomoc przy realizacji tej humanitarnej akcji.  
                p.sponsors-request-p Jednocześnie życzymy dużo satysfakcji z pomocy drugiemu człowiekowi, a z okazji zbliżających się Świąt Wielkanocnych przyjmijcie Państwo najlepsze świąteczne życzenia.
                p.sponsors-request-p Kontakt w sprawie:  Tel. 91 433-45-04; 514-161-064  lub e-mail: pkps2@tlen.pl 
                p.text-right.sponsors-no-margin-p Z poważaniem,
                p.text-right.sponsors-no-margin-p Prezes ZO PKPS
                p.text-right.sponsors-no-margin-p dr Aleksandra Sander