doctype html
html(lang='en')
    block vars
    head
        block head-top
        title #{title} | PKPS Z.O. Szczecin
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Polski Komitet Pomocy Społecznej, organizacja pozarządowa, pomagająca osobom potrzebującym.')
        link(rel='apple-touch-icon', sizes='57x57', href='/static/icons/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/static/icons/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/static/icons/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/static/icons/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/static/icons/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/static/icons/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/static/icons/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/static/icons/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/static/icons/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/static/icons/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/static/icons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/static/icons/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/static/icons/favicon-16x16.png')
        link(rel='manifest', href='/static/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/static/icons/ms-icon-144x144.png')
        meta(name='theme-color', content='#CAE4FD')
        link(link href="https://fonts.googleapis.com/css?family=Raleway:600,800&subset=latin-ext" rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin-ext', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='https://use.fontawesome.com/ce2707d4e5.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        link(rel='stylesheet', href='/static/bundle.css', type='text/css')
        script(src="/static/bundle.js")
        script.
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push (arguments)
              }, i[r].l = 1 * new Date ();
            a = s.createElement (o),
              m = s.getElementsByTagName (o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore (a, m)
          }) (window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga ('create', 'UA-85832504-2', 'auto');
          ga ('send', 'pageview');
        block head-bottom
    body#hello
        nav.navbar.navbar-default.navbar-fixed-top#navbarFixed
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
                        span.sr-only Rozwiń menu
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/#hello')
                        img(alt='PKPS Szczecin', src='/static/home/logo.png' style='width: 32px')
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-left
                        li.dropdown
                            a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | O nas 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/#board') Zarząd
                                li
                                    a(href='/#history') Rys historyczny PKPS
                                li
                                    a(href='/#help') Komu pomagamy
                                li
                                    a(href='/#money') Źródła finansowania
                                li
                                    a(href='/#statut') Statut
                        li
                            a(href='/mozesz-pomoc') Możesz pomóc
                        li
                            a(href='#') Galeria
                        li
                            a(href='/kontakt') Kontakt
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Realizowane programy 
                                span.caret
                            ul.dropdown-menu#programs
                                li
                                    a(href='/programy#ums') Urząd Miasta Szczecin
                                li
                                    a(href='/programy#minister') Minister Rodziny, Pracy i Polityki Społecznej
                                li
                                    a(href='/programy#uws') Urząd Wojewódzki Szczecin
                        li
                            a(href='/dodatkowe-dzialania') Dodatkowe działania
                        li.dropdown
                            a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Placówki PKPS 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/placowki#bar') Bar Mleczny PKPS "Kogel-Mogel" w Szczecinie
                                li
                                    a(href='/placowki#schronisko') Schronisko Dla Bezdomnych Mężczyzn "Wilga" W Szczecinie
                                li
                                    a(href='/placowki#bpo') Biuro Porad Obywatelskich w Szczecinie
                                li
                                    a(href='/placowki#punkt') Punkt Pomocy PKPS Szczecin
                                li
                                    a(href='/placowki#magazyn') Magazyn Główny Żywności PKPS Szczecin
                                li
                                    a(href='/placowki#zps') ZP PKPS w Stargardzie
                                li
                                    a(href='/placowki#zpg') ZP PKPS w Goleniowie
                                li
                                    a(href='/placowki#zpp') ZP PKPS w Pyrzycach
                                li
                                    a(href='/placowki#zpm') ZP PKPS w Myśliborzu
                                li
                                    a(href='/placowki#zmgb') ZMG PKPS w Barlinku
                                li
                                    a(href='/placowki#zmgn') ZMG PKPS w Nowogardzie
                        li.dropdown
                            a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | Pomoc żywnościowa 2014-2020 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/akcje#p2014') Podprogram 2014
                                li
                                    a(href='/akcje#p2015') Podprogram 2015
                                li
                                    a(href='/akcje#p2016') Podprogram 2016
        block body
        block foot
            footer.footer
                .container
                    .row
                        .col-lg-6.col-md-6.col-sm-6
                            | PKPS Szczecin © #{new Date().getFullYear()}
                        .col-lg-6.col-md-6.col-sm-6
                            p.views.roboto-font Liczba odwiedzin:&nbsp;
                                span.text-center#views
                    .row
                        .col-lg-12.col-md-12.col-sm-12
                            | Stworzone z 
                            span.glyphicon.glyphicon-heart(style='color: red;', aria-hidden='true')
                            |   przez 
                            span.scuer
                                a(href='http://scuer.co') Scuer