extend base
block vars
    - var title = "Kontakt"
block head-bottom
    link(rel='stylesheet', href='/static/css/contact.css', type='text/css')
    script(src="/static/js/contact.js")
block body
    .container-fluid
        .row
            .col-md-6.col-md-offset-3.header.text-center
                | Skontaktuj się z nami:
        .row.contact-options#cards
            .contact-option.text-center.phone
                i.fa.fa-mobile.fa-5x
                p +48 133 769 420
            .contact-option.text-center.email
                i.fa.fa-envelope.fa-5x
                p dobrymail@elo.gov