extend base
block vars
    - var title = "Kontakt"
block head-bottom
    link(rel='stylesheet', href='/static/css/contact.css', type='text/css')
    script(src="/static/js/contact.js")
block body
    .container-fluid
        .row
            .col-md-6.col-md-offset-3.header.text-center
                | Skontaktuj się z nami:
        .row
            .col-md-3.col-md-offset-3.contact-option
                i.fa.fa-mobile
                p 133 769 420
            .col-md-3.contact-option