extend base
block vars
    - var title = "Kontakt"
block body
    .container-fluid
        .row
            .col-md-6.col-md-offset-3.header.text-center
                | Skontaktuj się z nami:
        .row.contact-options#cards
            .contact-option.text-center.contact-fs
                i.fa.fa-mobile.fa-5x
                p 514-161-064
            .contact-option.text-center.contact-fs
                i.fa.fa-envelope.fa-5x
                p pkps2@tlen.pl
            .contact-option.text-center.contact-fs
                i.fa.fa-fax.fa-5x
                p 91 433-45-04
            .contact-option.text-center.contact-fs
                i.fa.fa-building.fa-5x
                p 
                | ul. Jagiellońska 18/2
                | 70-362 Szczecin 
        .row
          .col-md-6#map

    script.
      function initMap() {
        var pkps = {lat: 53.431877, lng: 14.540213999999992};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: pkps
        });
        var marker = new google.maps.Marker({
          position: pkps,
          map: map
        });
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoD2AhM2n5WujGTpb7PpANymaaJE-N78s&callback=initMap")