extend base
block vars
    - var title = "Placówki"
block body
    .container-fluid#cards
        .card
            .card-title Bar mleczny "Kogel-Mogel"
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content 
        .card
            .card-title Schronisko dla bezdomnych "Wigilia"
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title Biuro Porad Obywatelskich
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title Punkt Pomocy PKPS Szczecin
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title Magazyn główny PKPS
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZP PKPS w Stargardzie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZP PKPS w Goleniowie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZP PKPS w Pyrzycach
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZP PKPS w Myśliborzu
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZMG PKPS w Barlinku
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe
        .card
            .card-title ZMG PKPS w Nowogardzie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe