extend base
block vars
    - var title = "Placówki"
block body
    .container-fluid#cards
        .card
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content Hehe