extend base
block vars
    - var title = "Placówki"
block body
    .container-fluid#dep-hello
        .row
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
            .col-lg-6.dep-img
                .vertical-center
                    h1.bolder.roboto-font.white NASZE PLACÓWKI
        .row.gap
    #cards
        .card#bar
            .card-title
                h4.bolder.roboto-font Bar mleczny "Kogel-Mogel"
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#schronisko
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font Schronisko dla bezdomnych "Wigilia"
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#bpo
            .card-title.bolder.roboto-font
                h4.bolder.roboto-font Biuro Porad Obywatelskich
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#punkt
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-fontPunkt Pomocy PKPS Szczecin
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#magazyn
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font Magazyn główny PKPS
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zps
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZP PKPS w Stargardzie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zpg
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZP PKPS w Goleniowie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zpp
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZP PKPS w Pyrzycach
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zpm
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZP PKPS w Myśliborzu
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zmgb
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZMG PKPS w Barlinku
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04
        .card#zmgn
            .card-title.bolder.roboto-font 
                h4.bolder.roboto-font ZMG PKPS w Nowogardzie
            img(src='static/img/bpo.jpg' style='width: 100%; height: auto;')
            .card-content
                .container-fluid
                    .row.dep-descr.text-justif
                        .col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .row
                        .col-xs-6 Adres:
                        .col-xs-6.text-right asdasd
                    .row
                        .col-xs-6 Telefon:
                        .col-xs-6.text-right 91-433-45-04