extends base
block vars
    - var title = "Strona główna"
block body
    .container-fluid.hello-section
        .row
            .col-lg-12
                .page-header.text-center
                    h1
                        | W służbie człowiekowi  
                        i.fa.fa-users(aria-hidden='true')
        .row
            .col-lg-4.text-center
                h2.about Słuchamy
            .col-lg-4.text-center
                h2.about Rozumiemy
            .col-lg-4.text-center
                h2.about Pomagamy
        .row.content
            .col-lg-6.center
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a venenatis enim.
                | Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum. Aenean at convallis nisi, eu bibendum felis.
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a venenatis enim.
                | Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum. Aenean at convallis nisi, eu bibendum felis.
        .row.scroll-down
            .col-lg-12.text-center
                div
                    p
                    h3 Poznaj nas lepiej
                    p
                    a.scroll-down-button(href='#board', role='button')
                        i.fa.fa-angle-down.fa-4x(aria-hidden='true')
    .container-fluid
        .row.zarzad.shadow#board
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
            .col-lg-6.zarzad-img
                .vertical-center
                    h1.bolder.roboto-font ZARZĄD
        .row.gap
        .row.history.shadow#history
            .col-lg-6.history-img
                .vertical-center
                    h1.bolder.roboto-font RYS HISTORYCZNY
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
        .row.gap
        .row.helping.shadow#help
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
            .col-lg-6.helping-img
                .vertical-center
                    h1.bolder.roboto-font KOMU POMAGAMY
        .row.gap
        .row.finanse.shadow#money
            .col-lg-6.finanse-img
                .vertical-center
                    h1.bolder.roboto-font FINANSE
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
        .row.gap
        .row.statut.shadow#statut
            .col-lg-6.home-description
                .vertical-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    | Duis a venenatis enim. Aenean interdum in metus eget ornare. Quisque nec vestibulum ipsum.
                    | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
            .col-lg-6.statut-img
                .vertical-center
                    h1.bolder.roboto-font STATUT