extends base
block vars
    - var title = "Strona główna"
block body
    .hello-section.container-fluid
        .row
            .col-lg-12
                .page-header.text-center
                    h1 W służbie człowiekowi
        .row
            .col-lg-4.text-center
                h2.about Słuchamy
            .col-lg-4.text-center
                h2.about Rozumiemy
            .col-lg-4.text-center
                h2.about Pomagamy
        .row.content
            .col-lg-6.center
                img.logo(src='static/logo.png')
        .row.scroll-down.hide-ph
            .col-lg-12.text-center
                div
                    p
                    h3 Poznaj nas lepiej
                    p
                    a.scroll-down-button(href='#board', role='button')
                        i.fa.fa-angle-down.fa-4x(aria-hidden='true')
    .container-fluid
        .row.zarzad.shadow#board
            .col-lg-6.col-md-6.home-description.second
                .vertical-center
                    | Na XI Zjeździe Okręgowym Delegatów PKPS w dniu 18 maja 2016 roku wybrano  nowe władze   Zarządu Okręgowego w kadencji na  lata 2014 - 2018 w liczbie 9 osób.
                    | W głosowaniu jawnym XI Zjazd Okręgowy Delegatów PKPS na Prezesa Zarządu Okręgowego PKPS w Szczecinie zatwierdził kandydaturę
                    | dr Aleksandry Sander
                    | a na Przewodniczącego Komisji Rewizyjnej ZO PKPS w Szczecinie
                    | mgr Piotra Błaszczyka.
            .col-lg-6.col-md-6.zarzad-img.first
                .vertical-center
                    h1.bolder.roboto-font.white ZARZĄD
        .row.gap
        .row.history.shadow#history
            .col-lg-6.col-md-6.history-img
                .vertical-center
                    h1.bolder.roboto-font.white.text-center RYS HISTORYCZNY
            .col-lg-6.col-md-6.home-description
                .vertical-center
                    | Terenem działalności PKPS jest obszar Polski z siedzibą w Warszawie. Trudności i wszechobecna bieda w kraju zainspirowały prof. prawa Leona Kurowskiego do powołania stowarzyszenia. Polski Komitet Pomocy Społecznej na posiedzeniu założycielskim w dniu 7 maja 1958 roku w 
                    | Warszawie rozpoczął swoją działalność Zarejestrowany 10 października 1958 r. Stowarzyszenie powołano na podstawie: 
                    | Rozporządzenia Prezydenta Rzeczypospolitej z dnia 27 października 1932 r. Aktualnie funkcjonuje na podstawie Ustawy z dn. 7 kwietnia 1989 r. (Dz. U. Nr 29 z dn. 10 kwietnia 1989 r.) Prawo o stowarzyszeniach. 
        .row.gap
        .row.helping.shadow#help
            .col-lg-6.col-md-6.home-description.second
                .vertical-center
                    | Celem PKPS jest dobrowolne i bezinteresowne niesienie różnorodnych form pomocy osobom i rodzinom, które z różnych przyczyn niezdolne są do rozwiązywania swych życiowych problemów, w szczególności ludziom starszym, niepełnosprawnym, chorym, samotnym, zagrożonym demoralizacją, rodzinom pozbawionym środków do życia, ubogim i bezradnym. 
            .col-lg-6.col-md-6.helping-img.first
                .vertical-center
                    h1.bolder.roboto-font.white.text-center KOMU POMAGAMY
        .row.gap
        .row.finanse.shadow#money
            .col-lg-6.col-md-6.finanse-img
                .vertical-center
                    h1.bolder.roboto-font.white.text-center ŹRÓDŁA FINANSOWANIA
            .col-lg-6.col-md-6.home-description
                .vertical-center
                    ul
                        li Składki członkowskie
                        li Dotacje
                        li Darowizny
                        li Przekaż NGO darowiznę, skorzystaj z odliczenia podatkowego
                        li Dary rzeczowe
                        li Zbiórki publiczne
        .row.gap
        .row.statut.shadow#statut
            .col-lg-6.col-md-6.home-description.second
                .vertical-center
                    a(href='static/files/Statut_PKPS.pdf' download) Pobierz statut (PDF)
            .col-lg-6.col-md-6.statut-img.first
                .vertical-center
                    h1.bolder.roboto-font.white STATUT