extends base
block vars
    - var title = "Możesz pomóc"
block body
    .container
        .row.r-btn
          button.btn.bolder#english ENGLISH
        .row
            .col-sm-1
              img(src='/static/logo.png' alt='PKPS Logo' class='logo-apel')
            .col-sm-4
                h4 Polski Komitet Pomocy Społecznej
                h5 STOWARZYSZENIE CHARYTATYWNE
                h5 ZARZĄD OKRĘGOWY
            .col-sm-3
                h5 ul. Jagiellońska 18/2 70-362 Szczecin 
                h5 e-mail: pkps2@tlen.pl
                h5 tel/fax 91 433-45-04
                h5 witryna internetowa: 
                h5.text-right http://pkps-szczecin.pl
            .col-sm-4
                h5 NIP  851-01-09-361
                h5 REGON  007023760-00480
                h5 NR KONTA  
                h5.text-right PL 23 1240 3813 1111 0000 4375 5868
                h5.text-right SWIFT PEKAO SA - PKOPPLPW
        .row#lang(data-lang='pl')
          h2.text-center.underline
              strong MOŻESZ POMÓC
          .col-md-12  
            p 
              strong Sto paczek świątecznych dla dzieci z najuboższych szczecińskich rodzin chce  przygotować  Polski Komitet Pomocy Społecznej – Zarząd Okręgowy w Szczecinie - organizacja pożytku publicznego wpisana w Krajowym Rejestrze Sądowym o numerze KRS 0000041349.
            p Przedświąteczna akcja 
              strong „Mały podarek - dużo radości"  
              | prowadzona już po raz 49 i ma swoją bardzo długą historię. Darczyńcy nigdy nie zawiedli. PKPS liczy na pomoc i otwarte serca ludzi wrażliwych.
            p Apelujemy  więc do szkół, przedszkoli, firm, urzędów i osób indywidualnych - liczy się każdy gest, każdy nawet najmniejszy upominek.
            p.underline
              strong Darowizny rzeczowe dla najmłodszych będzie  można przekazywać  od 01 do 16 grudnia 2016 r. w Punkcie Pomocy PKPS przy ul. Robotniczej 9U/2 od poniedziałku do piątku w godz. od 10 -14. 
            p Można przynosić słodycze, nowe maskotki, gry, zabawki, przybory szkolne, odzież itp. W ten sposób każdy może mieć swój udział w „Małym podarku".
            p Kontakt do organizatorów akcji – 91-433-45-04 lub 514-161-064.
            p.underline Na ten cel można również  dokonać dobrowolnych  wpłat  darowizn na  numer konta bankowego PKPS
            p BANK PEKAO SA I ODDZIAŁ SZCZECIN
            p.underline
              strong PL 23 1240 3813 1111 0000 4375 5868   lub  SWIFT PEKAO SA - PKOPPLPW
            p.underline Na wniosek darczyńcy jest możliwość zawarcia umowy darowizny finansowej.
            p.text-center.underline 
              strong Po raz trzeci pragniemy powtórzyć akcję pod nazwą  
            p.text-center.underline 
              strong „Świąteczny  worek pełen niespodzianek”
            p Dużym powodzeniem od dwóch lat  cieszy się akcja indywidualnego przekazania paczki  dla  konkretnej  wielodzietnej rodziny lub dla matki (ojca) samotnie wychowujących dzieci.
            p W roku ubiegłym 5 darczyńców przekazało osobiście pięciu rodzinom (rodziny wielodzietne, matki samotnie wychowujące dzieci) świąteczne prezenty. Wszystkie prezenty i paczki zostały przekazane dzieciom 23 i 24 grudnia 2015r.  
            p Wystarczy skontaktować się z pracownikami biura  ZO PKPS w Szczecinie  – organizatorem tej  akcji  –  (tel. 91-433-45-04 lub 514-161-064),  którzy wskażą potrzeby swoich podopiecznych oraz za ich zgodą skontaktują z darczyńcami.
            p.text-right Z poważaniem
            p.text-right dr Aleksandra Sander          