extends base
block vars
    - var title = "Możesz pomóc"
block body
    .container
        .row
            .col-sm-1
              img(src='/static/img/home/logo.png' alt='PKPS Logo' class='logo-apel')
            .col-sm-4
                h4 Polski Komitet Pomocy Społecznej
                h5 STOWARZYSZENIE CHARYTATYWNE
                h5 ZARZĄD OKRĘGOWY
            .col-sm-3
                h5 ul. Jagiellońska 18/2 70-362 Szczecin 
                h5 e-mail: pkps2@tlen.pl
                h5 tel/fax 91 433-45-04
                h5 witryna internetowa: 
                h5.text-right http://pkps-szczecin.pl
            .col-sm-4
                h5 NIP  851-01-09-361
                h5 REGON  007023760-00480
                h5 NR KONTA  
                h5.text-right PL 23 1240 3813 1111 0000 4375 5868
                h5.text-right SWIFT PEKAO SA - PKOPPLPW
        .row
                  p Polski Komitet Pomocy Społecznej Zarząd Okręgowy w Szczecinie składa serdeczne
                    | podziękowanie firmom oraz osobom prywatnym za udział w grudniowej przedświątecznej Akcji „Mały
                    | Podarek – Dużo Radości” oraz „Świąteczny worek pełen niespodzianek”.
                    | Z Akcji „Mały Podarek Dużo Radości”, dzięki ich hojności mogliśmy zrobić paczki świąteczne dla 95
                    | dzieci z rodzin najuboższych . Koszt jednej paczki wyniósł 70,00 zł.
                    | Z Akcji „Świąteczny worek pełen niespodzianek” 4 rodziny, które zostały wytypowane przez Miejski
                    | Ośrodek Pomocy Rodzinie w Szczecinie, otrzymały od indywidualnych sponsorów prezenty pod
                    | choinkę na kwotę 4 510,00 zł.
                  h3.text-underline NASZYMI SPONSORAMI BYLI:
                  h4 Korporacja MIX TAXI Szczecin
                  h4 MPT Stanro Sp. z o.o. Sp. k. 
                     br 
                     | ul. Ks. Bogusława X 6/3, 70-440 Szczecin
                  h4 Małgorzata i Tomasz Zieleńscy
                  h4 Tomasz Jankowski
                  h4 Tomasz Skrok