extends base
block vars
    - var title = "Możesz pomóc"
block head-bottom
    link(rel='stylesheet', href='/static/css/apel.css', type='text/css')
block body
    .container
        .row
            img(src='/static/img/logo.png' alt='PKPS Logo')