extend base
block vars
    - var title = "Realizowane programy"
block head-bottom
    script(src='/static/js/pill.js')
block body
    .container-fluid
        .row
            .col-lg-12
                h1 Poniżej znajdą Państwo spis programów przez nas realizowanych.
        ul.nav.nav-pills.nav-justified#tabs
            li.active(role='presentation')
                a(href='#ums' aria-controls="home" role="tab" data-toggle="tab") Urząd Miasta Szczecin
            li(role='presentation')
                a(href='#minister' aria-controls="home" role="tab" data-toggle="tab") Minister Rodziny, Rracy i Polityki Społecznej
            li(role='presentation')
                a(href='#uws' aria-controls="home" role="tab" data-toggle="tab") Urząd Wojewódzki Szczecin
                
        .tab-content.shadow-tab
            .tab-pane.active.fade.in#ums(role='tabpanel')
                | Lorem ipsum dolor sit amet, consectsdgsdgelis. Lorem ipsum dolor sit amet, consectetur
            .tab-pane.fade.in#minister(role='tabpanel')
                img.minister(src='/static/img/godlo.png')
                h2.text-center „Program wspierający rozwiązywanie problemu bezdomności.” Edycja 2016
                ul.list-group.minister-list
                    a.list-group-item
                        h4.list-group-item-heading Cel główny
                        p.list-group-item-text CEL NR 3 „ZMIANA STANDARDÓW PLACÓWEK ŚWIADCZĄCYCH USŁUGI DLA OSÓB BEZDOMNYCH T.J. OGRZEWALNI, NOCLEGOWNI I SCHRONISKA DLA BEZDOMNYCH”
                    a.list-group-item 
                        h4.list-group-item-heading Czas trwania
                        p.list-group-item-text Program realizowany jest od 06 czerwca 2016r. do 31 grudnia 2016r. 
                    a.list-group-item 
                        h4.list-group-item-heading Miejsce
                        p.list-group-item-text SCHRONISKO DLA BEZDOMNYCH MĘŻCZYZN „WILGA” UL. TCZEWSKA 32 SZCZECIN – WIELGOWO
            .tab-pane.fade.in#uws(role='tabpanel')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Duis a venenatis enim. Aeneansdgsdgdsm in metus eget ornare. Quisque nec vestibulum ipsum.
                | Aenean at convallis nisi, eu bibendum felis. Lorem ipsum dolor sit amet, consectetur
        .row
            .col-lg-12
                h2 W razie pytań lub wątpliwości skontaktuj się z nami
                    a.programs-link(href="/contact")  bezpośrednio.