extend base
block vars
    - var title = "Realizowane programy"
block body
    .container-fluid
        .row
            .col-lg-12
                h1.programs-h1 Poniżej znajdą Państwo spis programów przez nas realizowanych.
        ul.nav.nav-pills.nav-justified#tabs
            li.active(role='presentation')
                a(href='#ums' aria-controls="home" role="tab" data-toggle="tab") Urząd Miasta Szczecin
            li(role='presentation')
                a(href='#minister' aria-controls="home" role="tab" data-toggle="tab") Minister Rodziny, Rracy i Polityki Społecznej
            li(role='presentation')
                a(href='#uws' aria-controls="home" role="tab" data-toggle="tab") Urząd Wojewódzki Szczecin
                
        .tab-content.shadow-tab
            .tab-pane.active.fade.in#ums(role='tabpanel')
                .row
                    .col-md-2
                        img.szczecin(src='/static/img/programs/szczecin.png')
                    .col-md-6
                        h5 Wsparcie realizacji zadania publicznego finansowanego przez Gminę Miasto Szczecin pod nazwą:
                        h4 "REHABILITACJA SPOŁECZNA OSÓB BEZDOMNYCH, ZAPEWNIENIE SCHRONIENIA OSOBOM POTRZEBUJĄCYM, POŁĄCZONE Z PROFILAKTYKĄ UZALEŻNIEŃ REALIZOWANE W SZCZECINIE DLA OSÓB BEZDOMNYCH”
                    .col-md-4
                        ul.list-group
                            a.list-group-item
                                h4.list-group-item-heading Czas trwania
                                p.list-group-item-text Zadanie realizowane jest od 01.01.2017 do 31.12.2019.
                            a.list-group-item
                                h4.list-group-item-heading Miejsce
                                p.list-group-item-text SCHRONISKO DLA BEZDOMNYCH MĘŻCZYZN „WILGA” UL. TCZEWSKA 32 SZCZECIN – WIELGOWO
                .row
                    img.szczecin(src='/static/img/programs/szczecin.png')
                    .col-md-6
                        h5 Wsparcie realizacji zadania publicznego finansowanego przez Gminę Miasto Szczecin pod nazwą:
                        h4 "WSPARCIE OSÓB W TRUDNEJ SYTUACJI ŻYCIOWEJ, WYBRANYMI ŚWIADCZENIAMI RZECZOWYMI W POSTACI OFEROWANIA NIEODPŁATNIE, ARTYKUŁÓW ŻYWNOŚCIOWYCH, ODZIEŻY, ARTYKUŁÓW HIGIENICZNYCH, MOŻLIWOŚCI KĄPIELI”
                    .col-md-4
                        ul.list-group
                            a.list-group-item
                                h4.list-group-item-heading Czas trwania
                                p.list-group-item-text Zadanie realizowane jest od 01.01.2017 do 31.12.2019.
                            a.list-group-item
                                h4.list-group-item-heading Miejsce
                                p.list-group-item-text
                                    ul
                                        li Magazyn Główny PKPS w Szczecinie przy ul. Robotniczej 9U/1
                                        li Punkt Pomocy PKPS w Szczecinie przy ul. Robotniczej 9U/2
                                        li Bar Mleczny PKPS "Kogel – Mogel" w Szczecinie ul. Wyzwolenia 115
                .row
                    img.szczecin(src='/static/img/programs/szczecin.png')
                    .col-md-6
                        h5 Wsparcie realizacji zadania publicznego finansowanego przez Gminę Miasto Szczecin pod nazwą:
                        h4.text-justif "ZAPEWNIENIE GORĄCEGO JEDNODANIOWEGO POSIŁKU OSOBOM BEZDOMNYM PRZEBYWAJĄCYM W SCHRONISKACH NA TERENIE SZCZECINA ORAZ INNYM MIESZKAŃCOM MIASTA SZCZECIN, KTÓRZY DECYZJĄ MIEJSKIEGO OŚRODKA POMOCY RODZINIE ZOSTALI UPRAWNIENI DO OTRZYMANIA TAKIEJ POMOCY”
                    .col-md-4
                        ul.list-group
                            a.list-group-item
                                h4.list-group-item-heading Czas trwania
                                p.list-group-item-text Zadanie realizowane jest od 01.01.2017 do 31.12.2017
                            a.list-group-item
                                h4.list-group-item-heading Miejsce
                                p.list-group-item-text Bar Mleczny PKPS "Kogel – Mogel" w Szczecinie ul. Wyzwolenia 115
            .tab-pane.fade.in#minister(role='tabpanel')
                h2 WKRÓTCE
            .tab-pane.fade.in#uws(role='tabpanel')
                h2 WKRÓTCE
        .row
            .col-lg-12
                h3.programs-h2 W razie pytań lub wątpliwości skontaktuj się z nami
                    a.programs-link(href="/kontakt")  bezpośrednio.