.hello-section {
    margin-bottom: 5rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
    padding-bottom: 8rem;
    background-color: #ffffff;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23aad5ff' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6 {
    color: #2c4254;
}

.logo {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.white {
    color: #FFFFFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background: #CAE4FD;
    box-sizing: border-box;
}

.footer > .container > .col-lg-6 {
    padding-top: 15px;
}

.scuer a {
  border: 0;
  text-decoration: none;
  color: #012FA7;
  font-weight: bold;
}

.roboto-font {
    font-family: 'Roboto Slab', serif;
}

.vertical-center {
  min-height: 30%;  /* Fallback for vh unit */
  min-height: 30vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justif {
    text-align: justify;
}

.bolder {
    font-weight: bold;    
}

.navbar-default {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    background-image: none;
    background-color: #CAE4FD;
    border-color: #CAE4FD;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: white;
    background-color: white;
}

.navbar-brand {
    padding: 9px 10px;
}

.page-header {
    border-bottom: 1px solid grey;
}

.page-header > h1 {
    font-weight: bold;
    font-size: 3em;
}

.about {
    font-size: 2.4em;
}

.center {
    float: none;
    margin: 0 auto;
}

.content {
    margin-top: 2em;
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
}

.scroll-down-button:link {
    color: rgb(0, 0, 0);
}

.scroll-down-button:visited {
    color: rgb(0, 0, 0);
}

.scroll-down-button:hover {
    color: rgb(38, 38, 38);
}

.shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(5,4,5,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(5,4,5,1);
    box-shadow: 0px 0px 20px 0px rgba(5,4,5,1);
}

.home-description {
    background-color: #63A8EC;
    text-align: justify;
    color: #FFFFFF;
    font-size: 1.143em;
}

.finanse-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/money.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.zarzad-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/board.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.history-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/history.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.helping-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/help.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.statut-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/statut.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.gap {
    background-color: #ffffff;
    background-attachment: fixed;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23aad5ff' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");
    min-height: 50px;
}

#dep-hello {
    margin-top: -20px;
}

#cards {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    margin: 50px;
    background: #63A8EC;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    padding: 15px;
}

.card-content {
    padding: 15px;
}

.dep-descr {
    margin-bottom: 10px;
    border-bottom: 1px groove grey;
    padding-bottom: 10px;
}

.dep-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/dep.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-pane {
    min-height: 50%;
    padding: 15px;
    font-size: 1.143em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background: #4894DE;
}

.programs-link:link {
    color: rgb(0, 0, 0);
}

.programs-link:visited {
    color: rgb(0, 0, 0);
}

.programs-link:hover {
    color: rgb(38, 38, 38);
    text-decoration: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: white;
}

@media (max-width: 1085px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus {
        background: none;
    }
}

@media screen and (max-width: 768px){
    .footer {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 991px){
    .hide-ph {
        display: none;
    }
    .zarzad, .helping, .statut, .dep-hello {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    
    .zarzad div, .helping div, .statut div, .dep-hello div{
        min-width: 100%;
        max-width: 100%;
    }
    
    div.first {
        -webkit-order: 1;
        order: 1;
    }
    
    div.second {
        -webkit-order: 2;
        order: 2;
    }
}

@media (min-width: 992px){
    .hello-section {
        height: 100vh;
        min-height: 100vh;
        position: relative;
        margin-bottom: 0;
    }
}
