.logo-apel {
    max-width: 100%;
    margin-top: 11px;
}

.r-btn {
  margin-bottom: 15px;
}

#english {
  border-radius: 0;
  background: #CAE4FD;
  color: #333;
}

#english:focus {
  outline: none;
}

.underline {
  text-decoration: underline;
}

#lang {
  font-size: 1.3em;
}
